<h1>EDA, Análisis Básico de Datos</h1>

<h3>Objetivo</h3>
Este notebook tiene como objetivo realizar un Análisis Exploratorio de Datos (EDA) sobre el conjunto de datos del que disponemos.

<h3> Importación de Bibliotecas</h3>
Para analizar los datos, importaremos la biblioteca pandas.

In [45]:
import pandas as pd

<h3>Carga de dataset</h3>
Cargamos el dataset en 2 dataframes, uno con victimas y otro con hechos

In [46]:
dfVictimas=pd.read_excel("../Dataset_Original/homicidios.xlsx", sheet_name="VICTIMAS")
dfHechos=pd.read_excel("../Dataset_Original/homicidios.xlsx", sheet_name="HECHOS")

<h3>Configuración de Pandas</h3>
Configuramos Pandas para que podamos visualizar todas las columnas del dataset

In [47]:
pd.set_option("display.max_columns", None)

<h3>Composición del dataset</h3>
Vemos como se componen los dataframe de victimas y de hechos

In [48]:
dfVictimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [49]:
dfHechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

<h3>Primer vistazo</h3>
Vemos una porcion del dataset para entender un poco los valores de cada columna

In [50]:
dfVictimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

Notamos que existe el valor "SD" (referencia a sin dato), así que vemos en que lugares del dataset se encuentran

In [51]:
dfHechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Al igual que en el dataset de víctimas existen valores "SD"

<h3>Análisis de Nulos</h3>
Vemos si existen datos nulos en el dataset

In [52]:
dfVictimas.isnull().sum()

ID_hecho               0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

No hay nulos en este dataset

In [53]:
dfHechos.isnull().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

Notamos que las columnas "Altura" y "Cruce" tienen muchos valores nulos.

<h3>Datos con valor "SD"</h3>
Vemos que tan frecuente aparece el valor "SD" (sin dato) en el dataset

In [54]:
dfVictimas[(dfVictimas=="SD").any(axis=1)]

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
16,2016-0022,2016-02-21,2016,2,21,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,41,SD
19,2016-0027,2016-02-28,2016,2,28,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,34,SD
22,2016-0031,2016-03-08,2016,3,8,CONDUCTOR,MOTO,MASCULINO,21,SD
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
...,...,...,...,...,...,...,...,...,...,...
579,2020-0040,2020-09-12,2020,9,12,CONDUCTOR,AUTO,MASCULINO,SD,2020-09-12 00:00:00
631,2021-0012,2021-01-29,2021,1,29,PEATON,PEATON,MASCULINO,SD,2021-01-29 00:00:00
639,2021-0020,2021-02-21,2021,2,21,PEATON,PEATON,FEMENINO,SD,2021-02-21 00:00:00
647,2021-0028,2021-03-29,2021,3,29,PEATON,PEATON,MASCULINO,SD,2021-03-29 00:00:00
698,2021-0079,2021-10-25,2021,10,25,PEATON,PEATON,MASCULINO,SD,2021-10-25 00:00:00

In [55]:
dfHechos[(dfHechos=="SD").any(axis=1)]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
32,2016-0045,1,2016-04-11,2016,4,11,10:25:00,10,AV GRAL PAZ Y AV DEL LIBERTADOR,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DEL LIBERTADOR AV.,"PAZ, GRAL. AV. y DEL LIBERTADOR AV.",13,Point (99620.34936816 110483.29286598),-58.46743471,-34.53476874,MOTO-SD,MOTO,SD
35,2016-0049,1,2016-04-17,2016,4,17,00:00:00,0,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),-58.37714647568196,-34.63657525428238,SD-SD,SD,SD
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
57,2016-0080,1,2016-06-18,2016,6,18,06:42:00,6,AV GRAL PAZ Y AV RIVADAVIA,GRAL PAZ,"PAZ, GRAL. AV.",NaN,RIVADAVIA AV.,"PAZ, GRAL. AV. y RIVADAVIA AV.",9,Point (93950.50587297 98883.37644525),-58.52927982,-34.63931752,AUTO-SD,AUTO,SD
76,2016-0101,1,2016-08-07,2016,8,7,19:42:00,19,AV GRAL PAZ Y JORGE CHAVEZ,GRAL PAZ,"PAZ, GRAL. AV.",NaN,"CHAVEZ, JORGE","PAZ, GRAL. AV. y CHAVEZ, JORGE",9,Point (93946.81673714 97681.68907836),-58.52932872,-34.65014993,SD-SD,SD,SD
83,2016-0110,1,2016-08-24,2016,8,24,20:21:00,20,AV ALBERDI Y CARHUE,AVENIDA,"ALBERDI, JUAN BAUTISTA AV.",NaN,CARHUE,"ALBERDI, JUAN BAUTISTA AV. y CARHUE",9,Point (95506.35959227 96696.89655626),-58.51232237,-34.65903530,PEATON-SD,PEATON,SD
88,2016-0115,1,2016-09-02,2016,9,2,11:50:00,11,ARIAS Y TRONADOR,CALLE,ARIAS,NaN,TRONADOR,ARIAS y TRONADOR,12,Point (97608.87024259 108884.67029908),-58.48935041,-34.54917673,SD-CARGAS,SD,CARGAS
92,2016-0119,1,2016-09-04,2016,9,4,06:40:00,6,CRISOLOGO LARRALDE Y AVDA TRIUNVIRATO,AVENIDA,"LARRALDE, CRISOLOGO AV.",NaN,TRIUNVIRATO AV.,"LARRALDE, CRISOLOGO AV. y TRIUNVIRATO AV.",12,Point (96944.69676081 107291.52292157),-58.49659234,-34.56353635,SD-SD,SD,SD
105,2016-0135,1,2016-10-24,2016,10,24,05:00:00,5,AV FIGUEROA ALCORTA Y PINEDO,AVENIDA,"FIGUEROA ALCORTA, PRES. AV.",NaN,"PINEDO, INT.","FIGUEROA ALCORTA, PRES. AV. y PINEDO, INT.",14,Point (103734.76257993 107235.78328415),-58.42260225,-34.56403694,PEATON-SD,PEATON,SD
112,2016-0143,1,2016-11-06,2016,11,6,04:41:00,4,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,27 DE FEBRERO AV.,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-SD,MOTO,SD
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
126,2016-0159,1,2016-12-04,2016,12,4,07:21:00,7,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,27 DE FEBRERO AV.,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,AUTO-SD,AUTO,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
160,2017-0025,1,2017-02-24,2017,2,24,17:05:00,17,AV. FERNANDEZ DE LA CRUZ Y RIVERA INDARTE,AVENIDA,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",NaN,RIVERA INDARTE AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV. y RIVERA I...",7,Point (102489.38230491 97228.94942016),-58.43614426,-34.65424640,MOTO-SD,MOTO,SD
164,2017-0029,1,2017-03-07,2017,3,7,02:15:00,2,MOZART Y TANDIL,CALLE,MOZART,NaN,TANDIL,MOZART y TANDIL,9,Point (98009.35575364 97985.81952007),-58.48501341,-34.64742455,SD-AUTO,SD,AUTO
197,2017-0069,1,2017-05-24,2017,5,24,14:15:00,14,AV. GRAL. PAZ Y ULRICO SCHMIDL,GRAL PAZ,"PAZ, GRAL. AV.",NaN,"SCHMIDL, ULRICO","PAZ, GRAL. AV. y SCHMIDL, ULRICO",9,Point (94644.00300729 96592.22735507),-58.52173071,-34.65997463,MOTO-SD,MOTO,SD
201,2017-0074,1,2017-06-04,2017,6,4,12:50:00,12,CASCO 133,CALLE,CASCO,133.0,NaN,CASCO 133,9,Point (94281.31244858 99043.29027489),-58.52567073,-34.63787791,SD-SD,SD,SD
214,2017-0089,1,2017-07-13,2017,7,13,12:05:00,12,MARTINIANO LEGUIZAMON 901,CALLE,"LEGUIZAMON, MARTINIANO",901.0,NaN,"LEGUIZAMON, MARTINIANO 901",9,Point (95246.78684010 97935.32361317),-58.51514709,-34.64787051,SD-AUTO,SD,AUTO
216,2017-0091,1,2017-07-15,2017,7,15,13:00:00,13,SUPERI Y AV. GRAL. PAZ,GRAL PAZ,SUPERI,NaN,"PAZ, GRAL. AV.","SUPERI y PAZ, GRAL. AV.",12,Point (97850.57417090 109546.39428377),-58.48671535,-34.54321216,MOTO-SD,MOTO,SD
269,2017-0155,1,2017-12-12,2017,12,12,21:25:41,21,AV. RIVADAVIA 6350,AVENIDA,RIVADAVIA AV.,6350.0,NaN,RIVADAVIA AV. 6350,7,Point (100674.98109200 100299.64949548),-58.45593915,-34.62656868,SD-MOTO,SD,MOTO
393,2018-0119,1,2018-11-05,2018,11,5,22:35:00,22,Rabanal y San Pedrito,AVENIDA,"RABANAL, FRANCISCO, INTENDENTE AV.",NaN,SAN PEDRITO,"RABANAL, FRANCISCO, INTENDENTE AV. y SAN PEDRITO",8,Point (102489.86457298 96266.15892101),-58.43613623,-34.66292532,PEATON-SD,PEATON,SD
397,2018-0123,1,2018-11-12,2018,11,12,03:32:00,3,"Paz, Gral. Av. y Peron, Eva Av.",GRAL PAZ,"PAZ, GRAL. AV.",NaN,"PERON, EVA AV.","PAZ, GRAL. AV. y PERON, EVA AV.",9,Point (96405.76679348 94981.38013791),-58.50251790,-34.67450313,AUTO-SD,AUTO,SD
439,2019-0022,1,2019-03-15,2019,3,15,1900-01-02 00:00:00,0,ENTRE RIOS AV. BAJO PUENTE AUTOPISTA (1260 APROX),AVENIDA,ENTRE RIOS AV.,1260.0,NaN,ENTRE RIOS AV. 1260,1,Point (106608.39392805 100635.27735528),-58.39123782,-34.62352245,AUTO-SD,AUTO,SD
450,2019-0033,1,2019-04-18,2019,4,18,01:00:00,1,"AUTOPISTA 25 DE MAYO Y HUERGO, ING. AV.",AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,"HUERGO, ING. AV.","AUTOPISTA 25 DE MAYO y HUERGO, ING. AV.",1,Point (108916.48040002 100856.88142642),-58.36607137,-34.62150748,MOTO-SD,MOTO,SD
457,2019-0040,1,2019-05-09,2019,5,9,12:45:00,12,PUAN Y SANTANDER,CALLE,PUAN,NaN,SANTANDER,PUAN y SANTANDER,7,Point (101894.68493124 99164.78448252),-58.44263580,-34.63679732,MOTO-SD,MOTO,SD
518,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.",NaN,GRIVEO,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO
620,2021-0022,1,2021-02-28,2021,2,28,12:00:00,12,DEL LIBERTADOR AV. Y ROOSEVELT FRANKLIN D.,AVENIDA,DEL LIBERTADOR AV.,NaN,ROOSEVELT FRANKLIN D.,DEL LIBERTADOR AV. y ROOSEVELT FRANKLIN D.,13,Point (101075.92147827 108552.55000854),-58.45157681,-34.55217303,PASAJEROS-SD,PASAJEROS,SD

Ahora contamos la cantidad de estos valores por columna

In [56]:
dfVictimas[(dfVictimas=="SD")].count()

ID_hecho                0
FECHA                   0
AAAA                    0
MM                      0
DD                      0
ROL                    11
VICTIMA                 9
SEXO                    6
EDAD                   53
FECHA_FALLECIMIENTO    68
dtype: int64

Notamos que las columnas "EDAD" y "FECHA_FALLECIMIENTO" tienen muchos de estos valores

In [57]:
dfHechos[(dfHechos=="SD")].count()

ID                        0
N_VICTIMAS                0
FECHA                     0
AAAA                      0
MM                        0
DD                        0
HORA                      1
HH                        1
LUGAR_DEL_HECHO           1
TIPO_DE_CALLE             0
Calle                     0
Altura                    0
Cruce                     0
Dirección Normalizada     0
COMUNA                    0
XY (CABA)                 0
pos x                     0
pos y                     0
PARTICIPANTES             0
VICTIMA                   9
ACUSADO                  23
dtype: int64

Hay muy pocos de estos valores en el dataset de hechos

<h4>Duplicados</h4>
Analisamos los duplicados del dataset de victimas

In [58]:
dfVictimas[dfVictimas.duplicated()]

Empty DataFrame
Columns: [ID_hecho, FECHA, AAAA, MM, DD, ROL, VICTIMA, SEXO, EDAD, FECHA_FALLECIMIENTO]
Index: []

In [59]:
dfHechos[dfHechos.duplicated()]

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Altura, Cruce, Dirección Normalizada, COMUNA, XY (CABA), pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

No existen duplicados para ninguno de los dataframes

<h3>Conclusiones</h3>

#### Dataset de Hechos de Siniestros Viales:
- **Valores Nulos en Altura y Cruce:** Se observa que las columnas "Altura" y "Cruce" en el conjunto de datos de hechos de siniestros viales tienen un número significativo de valores nulos. Esto podría deberse a la falta de información en la recopilación de datos o a la naturaleza opcional de estos campos en los informes.

- **Valores "SD":** Se identificó la presencia de valores "SD" en algunas columnas del conjunto de datos de hechos. Sería importante entender la razón detrás de estos valores, ya que "SD" generalmente indica "Sin dato". Esto podría ser crucial para la integridad de los datos y su utilidad en el análisis.

- **Duplicados:** No se encontraron registros duplicados en el conjunto de datos de hechos. Esto sugiere una consistencia en la entrada de datos y evita posibles errores debido a duplicados.

#### Dataset de Víctimas de Siniestros Viales:
- **Valores Nulos:** El conjunto de datos de víctimas parece estar bien estructurado en cuanto a la ausencia de valores nulos en todas las columnas. Esto facilitará un análisis más robusto y completo de los datos.

- **Valores "SD":** Se notó la presencia de valores "SD" en las columnas "EDAD" y "FECHA_FALLECIMIENTO" del conjunto de datos de víctimas. Este hallazgo destaca la importancia de abordar y manejar estos valores para evitar distorsiones en el análisis.

- **Duplicados:** No se encontraron registros duplicados en el conjunto de datos de víctimas. Esta consistencia en la integridad de los datos es positiva y permite una interpretación más precisa de los resultados.

Estos hallazgos proporcionan una base para futuros pasos en el análisis. Tendremos que proporcionar un manejo adecuado de los valores nulos y los valores "SD" y una exploración más profunda de la relación entre las variables en función de los objetivos específicos del análisis.